@page "/"
@implements IDisposable
@inject IElementHandler ElementHandler
@inject IWindowHandler WindowHandler

<PageTitle>Index</PageTitle>

<h1 id="headingOne" @ref=@_headingRef>Hello, world!</h1>

<button id="focusHeadingButton" @onclick=@FocusHeadingOne>Focus Heading One</button>

@code
{
    ElementReference _headingRef;

    protected override async Task OnInitializedAsync()
    {
        await WindowHandler.RegisterEventHandlers();
        WindowHandler.OnResize += OnResizeHandler;
    }

    private async void OnResizeHandler(object sender, WindowEventArgs windowEventArgs)
    {
        await WindowHandler.AlertAsync("The window was resized!");
    }

    private async void FocusHeadingOne()
    {
        await ElementHandler.FocusAsync(_headingRef);
    }

    public void Dispose()
    {
        WindowHandler.OnResize -= OnResizeHandler;
    }
}
